// Variables
$projects-item-background: #bce6e9
$project-height: 40px
$project-opacity: 0.5
$project-opacity-hover: 0.7

// VDU Projects in header
.vdu-projects
  margin-top: 20px

  // Each project
  .project
    margin-bottom: 10px

    &-box
      background-color: $projects-item-background
      border-radius: 4px
      height: $project-height
      line-height: $project-height
      position: relative
      overflow: hidden

      span.facebook-like
        display: inline-block

        iframe
          position: absolute
          top: 50%
          height: 20px
          margin-top: -10px

      a
        display: block
        padding-left: 10px

        // Hover and focus in one.
        &:hover, &:focus
          text-decoration: none
          cursor: pointer
          background-color: darken($projects-item-background, 7%)

          span.text
            text-decoration: underline

          span.icon
            opacity: $project-opacity-hover

      span.icon
        position: absolute
        opacity: $project-opacity
        right: -27px
        top: -18px
        -webkit-transform: rotate(15deg)
        -moz-transform: rotate(15deg)
        -ms-transform: rotate(15deg)
        -o-transform: rotate(15deg)
        transform: rotate(15deg)

        img, svg
          width: 140px

      img
        height: auto

    // QuadCore custom
    &.quadcore
      a
        svg.icon
          height: 89px

    // VDU Custom
    &.vdu
      a
        background: none
        border: 1px solid #bce6e9
        text-align: center

        &:hover, &:focus
          a
            border-color: darken($projects-item-background, 7%)

        .icon
          transform: none
          top: 0
          right: 0
          position: relative
          opacity: 1

          svg
            height: 39px
            width: 100px
